{% extends "gene_register/base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-3">
            {{form.chromosome|as_crispy_field}}
        </div>
        <div class="col-md-3">
            {{form.start|as_crispy_field}}
        </div>
        <div class="col-md-3">
            {{form.end|as_crispy_field}}
        </div>
        <div class="col-md-3">
            {{form.symbol|as_crispy_field}}
        </div>
    </div>
    {% if variant_list|length > 0 %}
        <h5 class="display-5">Variantes Asociadas</h5>
        <h6 class="display-5">
            <li>{{variant_list}}</li>
        </h6>
        <br/>
    {% endif %}
    {% if disease_list|length > 0 %}
        <h5 class="display-5">Enfermedades Asociadas</h5>
            {% for disease in disease_list %}
                <div div class="row">
                    <div class="col-md-12">
                        <li> {{disease}}
                    </div>
                </div>
            {% endfor %}
    {% endif %}
    <br/>
    <div div class="row">
        <div class="col-md-8">
            <button type="submit" class="btn btn-success btn-block btn-lg">
                <i class="fas fa-database"></i>
                    Cargar
            </button>
        </div>
        <div class="col-md-4">
            <a href="{% url 'gene_list' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Volver a la Lista
            </a>
        </div>
    </div>
</form>
{% endblock content %}